* {
  margin: 0;
  padding: 0;
}
body,
input,
select {
  font: 300 18px Roboto, Verdana, Arial;
}
a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
ul {
  list-style: none;
}
h2 {
  color: #555;
  margin-bottom: 20px;
}
h3 {
  color: #555;
  font-size: 18px;
}
p {
  line-height: 1.5em;
  margin-bottom: 20px;
}
p.indent {
  padding-left: 50px;
}
.content,
.section {
  width: 90%;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: auto;
}
.section {
  margin-top: 40px;
}
#top {
  background: #52b3d9;
  height: 40px;
}
#top a {
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
#top a:last-of-type {
  float: right;
}
#top a:last-of-type:hover {
  color: #222;
  text-decoration: underline;
}
#top a:first-of-type {
  float: left;
  font-weight: 500;
}
#top a:first-of-type:hover {
  color: #fff;
  text-decoration: none;
}
#nav {
  font-size: 16px;
  margin: 40px 0;
  overflow: auto;
}
#nav ul {
  float: right;
}
#nav li {
  float: left;
}
#nav a {
  color: #333;
  display: inline-block;
  margin-left: 30px;
  border-bottom: 1px solid transparent;
}
#nav a:hover {
  color: #52b3d9;
  border-color: #52b3d9;
}
#hero {
  background: #f6f6f6 url("cubes.png");
  min-height: 200px;
  overflow: auto;
  padding: 25px 0;
}
#hero #cta {
  max-width: 550px;
  font-weight: 500;
  float: left;
}
#hero h1 {
  font-size: 2.3em;
  line-height: 1.5em;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #444;
}
#hero a {
  padding: 6px 12px;
  border-radius: 4px;
  background: #52b3d9;
  color: #fff;
}
#hero a:hover {
  background: #5c97bf;
  box-shadow: 0 0 6px #666;
}
#hero img {
  float: right;
  max-width: 100%;
  width: 372px;
  height: 216px;
}
#about,
#features,
#pricing,
#mailing {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
#about,
#pricing {
  float: left;
  padding-right: 30px;
}
#features,
#mailing {
  padding-left: 30px;
}
#features h3:not(:first-of-type) {
  margin-top: 20px;
}
#pricing {
  float: left;
}
#pricing > div {
  color: #fff;
  width: 200px;
  float: left;
  position: relative;
  text-align: center;
  background: #f0f0f0;
  margin-right: 5px;
  border-radius: 4px;
  height: 300px;
}
#pricing > div:nth-of-type(1) {
  background: #6c7a89;
}
#pricing > div:nth-of-type(2) {
  width: 300px;
}
#pricing > div:nth-of-type(2) h3,
#pricing > div:nth-of-type(2) a,
#pricing > div:nth-of-type(2) p {
  color: #444;
}
#pricing > div h3 {
  color: #fff;
  padding: 8px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0,0,0,0.1);
  border-bottom: 1px solid #555;
}
#pricing > div h4 {
  padding: 60px 0;
}
#pricing > div .note {
  font-size: 14px;
}
#pricing > div p {
  padding: 4px 10px;
}
#pricing > div > a {
  left: 0;
  bottom: 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-variant: small-caps;
  border-top: 1px solid #999;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: rgba(255,255,255,0.1);
}
#pricing > div > a:hover {
  background: rgba(22,22,22,0.3);
}
#mailing #mce-EMAIL {
  padding: 6px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #ccc;
}
#mailing #mc-embedded-subscribe {
  margin-top: 20px;
  border-radius: 4px;
  background: #52b3d9;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
}
#mailing #mc-embedded-subscribe:hover {
  background: #5c97bf;
  box-shadow: 0 0 6px #666;
}
#footer {
  margin-top: 80px;
  background: #52b3d9;
  font-size: 16px;
  padding: 20px 0;
}
#footer ul {
  float: right;
}
#footer li {
  float: left;
}
#footer a {
  color: #fff;
  padding-bottom: 2px;
  margin-left: 40px;
  display: inline-block;
}
#footer a:hover {
  border-color: #fff;
}
#tos {
  float: right;
  margin-bottom: 20px;
  overflow: auto;
}
#tos div {
  width: 300px;
  text-align: center;
  padding: 7px;
  background: #c8f7c5;
  border: 1px solid #90c695;
  border-radius: 4px;
}
