body
  background #fff url('/assets/faux.gif') repeat-y

#docnav
  font-size 0.9em
  float left
  width 250px
  a
    display block
    color #34495E
    padding 7px 10px
    border-bottom 1px solid #e0e0e0
  a:hover
    color #2574A9
    background #e0e0e0

#doc
  margin 20px 50px 150px 270px
  img
    max-width 40%
    border 1px solid #FDE3A7
    border-radius 4px
    padding 10px
    float right
    cursor pointer
  ul
    list-style disc
    margin 0 0 20px 40px

  h1, h2, h3
    font-size 22px
    color #22313F
    margin-bottom 3px

  h2
    font-size 18px

  h3
    font-size 16px

  code
    font-size 0.85em
    color #336E7B
    background #ececec
    padding 2px 5px
    border 1px solid #eee
    border-radius 4px

// #footer
//   bottom 0
//   width 100%
//   position fixed
