---
layout: default
---
<link href=/assets/docs/docs.css rel=stylesheet type=text/css>
<a href=# id=menuicon>☰</a>
<ul id=docnav>
  <li>
    <a href=/docs>introduction</a>
    {% if page.sub == 'intro' %}
    <ul>
      <li><a href=#documents>documents</a></li>
      <li><a href=#meta>meta</a></li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href=/docs/databases>databases</a>
    {% if page.sub == 'databases' %}
    <ul>
      <li><a href=#keys>keys</a></li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href=/docs/types>types</a>
    {% if page.sub == 'types' %}
    <ul>
      <li><a href=#pk>primary key</a></li>
      <li><a href=#indexes>indexes</a></li>
      <li><a href=#fts>full text search</a></li>
      <li><a href=#relationships>relationships</a></li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href=/docs/sync>synchronizing data</a>
    {% if page.sub == 'sync' %}
    <ul>
      <li><a href=#bulk>bulk updates</a></li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href=/docs/integration>integration</a>
    {% if page.sub == 'integration' %}
    <ul>
      <li><a href=#synchronous>synchronous</a></li>
      <li>
        <a href=#asynchronous>asynchronous</a>
        <ul>
          <li><a href=#messaging>messaging</a></li>
          <li><a href=#database>database</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href=/docs/readapi>using the read api</a>
    {% if page.sub == 'readpi' %}
    <ul>
      <li><a href=#fts>full text search</a></li>
    </ul>
    {% endif %}
  </li>
  <li><a href=/docs/philosophy>philosophy</a></li>
</ul>
<div id=doc>{{ content }}</div>

<script src=/assets/docs/docs.js></script>
